<% layout("layout/boilerplate") %>

<div class="container">
    <div class="row">
        <div class="col-6 offset-3 mt-1">
            <div class="card mb-3 border-danger text-danger">
                <img src="https://images.unsplash.com/photo-1606823616058-541d59dadcb2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
                    class="card-img-top" alt="Image not found on unsplash">
                <div class="card-body">
                    <h5 class="card-title"><%= err.message %></h5>
                    <p class="card-text">Something went wrong... We are not able to process this data</p>
                    <a href="/home" class="btn btn-warning">Go back home</a>
                </div>
            </div>
        </div>
    </div>
</div>