<% layout("layout/boilerplate") %>

<div class="col-md-6 offset-3">
    <h1>This is all students database of uni</h1>

    <button class="btn btn-primary">Sign in as Admin</button>
    <button class="btn btn-warning">Sign in as Student</button>
</div>